<div>
  <!-- Introduction -->
  <section class="p-10 flex flex-col gap-y-4 items-center justify-center">
    <p>
      Bienvenue à cet examen blanc du code de la route. Nous sommes ravis que
      vous ayez choisi de vous préparer pour cet important test qui évalue votre
      connaissance des règles et des normes de conduite essentielles. Le code de
      la route est une composante cruciale de la sécurité routière, visant à
      protéger à la fois les conducteurs et les piétons. Au cours de cet examen,
      vous aurez l'occasion de démontrer votre compréhension des panneaux de
      signalisation, des priorités de circulation, des règles de stationnement,
      et bien d'autres aspects qui régissent la conduite responsable. Prenez
      votre temps pour répondre aux questions, et n'hésitez pas à consulter les
      références nécessaires. Nous vous encourageons à traiter cet examen blanc
      comme une étape importante dans votre préparation pour l'examen officiel
      du code de la route. Bonne chance, et conduisez en toute sécurité !
    </p>
    <a
      routerLink="quiz"
      class="px-2 py-1 border rounded-md bg-emerald-400 text-white hover:bg-emerald-500"
      >Commencer le quiz</a
    >
  </section>
</div>
